urxvt*modifier : mod4

URxvt*transparent:          false
URxvt*urgentOnBell:         true

xterm*dynamicColors:        true
URxvt.font:                 xft:DejaVu Sans Mono:size=12

! Colors: choose a palette!
!
!       normal  bright    non-std
! black   0       8       black   grey
! red     1       9       maroon  red
! green   2      10       green   lime
! yellow  3      11       olive   yellow
! blue    4      12       navy    blue
! magenta 5      13       purple  fuchsia
! cyan    6      14       teal    aqua
! white   7      15       silver  white

!! Solarized
!#define Color_black   #073642
!#define Color_black   #000000
!#define Color_maroon  #dc322f
!#define Color_green   #859900
!#define Color_olive   #b58900
!#define Color_navy    #268bd2
!#define Color_purple  #d33682
!#define Color_teal    #2aa198
!#define Color_silver  #eee8d5
!#define Color_grey    #002b36
!#define Color_red     #cb4b16
!#define Color_lime    #586e75
!#define Color_yellow  #657b83
!#define Color_blue    #839496
!#define Color_fuchsia #6c71c4
!#define Color_aqua    #93a1a1
!#define Color_white   #fdf6e3
!
!! Molokai
!#define Color_black   #1B1D1E
!#define Color_maroon  #F92672
!#define Color_green   #82B414
!#define Color_olive   #FD971F
!#define Color_navy    #268BD2
!#define Color_purple  #8C54FE
!#define Color_teal    #56C2D6
!#define Color_silver  #CCCCC6
!#define Color_grey    #505354
!#define Color_red     #FF5995
!#define Color_lime    #B7EB46
!#define Color_yellow  #FEED6C
!#define Color_blue    #62ADE3
!#define Color_fuchsia #BFA0FE
!#define Color_aqua    #94D8E5
!#define Color_white   #F8F8F2
!
!! Tango
!#define Color_black   #000000
!#define Color_maroon  #CC0000
!#define Color_green   #4E9A06
!#define Color_olive   #C4A000
!#define Color_navy    #3465A4
!#define Color_purple  #85509B
!#define Color_teal    #06989A
!#define Color_silver  #D3D7CF
!#define Color_grey    #808080
!#define Color_red     #FF5555
!#define Color_lime    #55FF55
!#define Color_yellow  #FFFF55
!#define Color_blue    #739FCF
!#define Color_fuchsia #FF55FF
!#define Color_aqua    #55FFFF
!#define Color_white   #FFFFFF

#define Color_black   #000000
#define Color_maroon  #BB0000
#define Color_green   #82B414
#define Color_olive   #FD971F
#define Color_navy    #286DC0
#define Color_purple  #8C54FE
#define Color_teal    #009999
#define Color_silver  #CCCCC6
#define Color_grey    #505354
#define Color_red     #FF2222
#define Color_lime    #55FF55
#define Color_yellow  #FEED6C
#define Color_blue    #63AAFF
#define Color_fuchsia #CD00CD
#define Color_aqua    #00FFFF
#define Color_white   #F9F9F9

*background:              Color_black
*foreground:              Color_white
*cursorColor:             Color_white
*pointerColorBackground:  Color_lime
*pointerColorForeground:  Color_aqua

*color0:  Color_black
*color1:  Color_maroon
*color2:  Color_green
*color3:  Color_olive
*color4:  Color_navy
*color5:  Color_purple
*color6:  Color_teal
*color7:  Color_silver
*color8:  Color_grey
*color9:  Color_red
*color10: Color_lime
*color11: Color_yellow
*color12: Color_blue
*color13: Color_fuchsia
*color14: Color_aqua
*color15: Color_white

! Fade text n% upon unfocus
URxvt.fading: 20

!scroll
urxvt*scrollBar :           false
urxvt*saveLines:            10000

URxvt.urgentOnBell: true
URxvt.visualBell: true

! Make the Ctrl-Arrow keys work like XTerm instead of \eOc, \eOd...
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
! Same thing for home, end and Fn keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Disable Ctrl+Shift default binding
URxvt.iso14755: false
URxvt.iso14755_52: false

!no auto-scroll if new line
URxvt.scrollTtyOutput:false
URxvt.scrollTtyKeypress:true
URxvt.scrollWithBuffer:true

! Perl extensions:
! * Make URL clickable, open with xdg-open, which can be configured to be
!   the default browser (eg. /usr/bin/chromium -incognito)
! * Copy-paste using Ctrl-Shift-C/V
! * Toogle fullscreen with F11
! * Open a new terminal window with Ctrl-Shift-N
URxvt.perl-ext-common: default,clipboard,keycmd,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.F11: perl:keycmd:togglefull
URxvt.keysym.Shift-Control-N: perl:keycmd:newwindow

! Catch ugly URLs
URxvt.cutchars: "`()'*,<>[]{|}"
